<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <LinkTo @route="index" class="navbar-brand">Web Performance Workshop</LinkTo>
  <LinkTo @route="threejs" class="nav-link">ThreeJS Demo</LinkTo>

</nav>